* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.grid {
    display: grid;
}

i {
    font-size: 20px;
    color: white;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

p {
    color: #ccc;
    font-size: 13px;
}

ul {
    list-style: none;
}

nav {
    justify-content: space-between;
}

.spotify-logo {
    margin: 0px 30px;
}

.search-content .home {
    margin: 5px 5px 5px 100px;
}

.home i {
    padding: 12px;
    background: rgb(47, 47, 47);
    border-radius: 50%;
    cursor: pointer;
}

.home:hover i,
.home:hover {
    transform: scale(1.05);
}

.search-bar {
    background-color: rgb(37, 37, 37);
    border-radius: 30px;
    padding: 14px 10px;
    margin: 5px;
}

.search-bar:hover {
    border: 1px solid #ccc;
    background-color: rgb(48, 48, 48);
}

.search-bar:hover i {
    color: white;
}

.search-bar:hover input {
    background-color: rgb(48, 48, 48);
}

.search-input::after {
    color: rgb(188 181 181);
    content: '|';
    float: right;
}

.search-bar i {
    padding: 0px 5px;
    color: rgb(188 181 181);
}

.search-bar .browse {
    color: white;
}

.search-bar .browse:hover {
    transform: scale(1.03);
}

.search-bar input {
    padding: 0px 140px 0px 6px;
    background-color: rgb(37, 37, 37);
    outline: 0;
    border: 0;
    font-size: 16px;
    color: white;
}

.log-in .log-btn {
    background-color: rgb(255, 255, 255);
    padding: 15px 33px;
    margin: 6px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 30px;
}

button:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.log-in .signup-btn {
    color: rgb(188 181 181);
    background-color: rgb(12 11 11);
    border-radius: 10px;
    padding: 10px;
    margin: 6px;
    border: 0;
    outline: 0;
    font-size: 16px;
    font-weight: 600;
}

.log-in .signup-btn:hover {
    color: white;
    background-color: rgb(16, 16, 16);
    transform: scale(1.03);
}

/* ***************Left Container**************  */

.left-container {
    height: 79vh;
    width: 30%;
    background-color: rgb(18 18 18);
    border-radius: 10px;
    margin: 8px 8px 0px 8px;
    padding: 5px;
}

.side-playlist {
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
}

.library-section {
    margin-bottom: 20px;
    justify-content: space-between;
}

.library i {
    color: rgb(188 181 181);
    font-size: 24px;
    padding: 5px 2px;
}

.library span {
    color: rgb(188 181 181);
    font-size: 16px;
    font-weight: 600;
    padding: 5px 2px;
}

.library {
    display: inline;
}

.plus {
    background-color: white;
    font-size: 16px;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.plus i {
    font-size: 16px;
    color: rgb(188, 181, 181);
}

.plus:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

/* .plus:hover {
    color: white;
} */

.library:hover i,
.library:hover span {
    color: white;
}

.library-playlist h4 {
    font-size: 15px;
    font-weight: 500;
    margin: 5px 10px;
}

.library-playlist p {
    font-size: 13px;
    color: #ccc;
    margin: 5px 10px;
}

/* .playlist-bar {
    cursor: pointer;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 10px;
}

.playlist-bar:hover {
    background-color: rgb(42, 42, 42);
} */

/* .play-img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
} */

/* .playlist-bar img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
} */

/* .play-img button {
    background: none;
    color: white;
    outline: 0;
    border: 0;
    padding-right: 5px;
}

.play-img i {
    font-size: 14px;
    color: #ccc;
}

.play-img button {
    display: none;
} */

.playlist-bar:hover button {
    display: inline-block;
}


.scroll-box {
    height: 100vh;
    overflow-y: auto;
}

.scroll-box::-webkit-scrollbar {
    background: transparent;
    width: 12px;
}

.scroll-box::-webkit-scrollbar-thumb {
    background: transparent;
    opacity: 0.5;
}

.scroll-box:hover::-webkit-scrollbar-thumb {
    background: #d9d9d9;
}

/* ***************Right Container**************  */

.right-container {
    width: 73%;
    height: 79vh;
    background-color: rgb(18 18 18);
    border-radius: 10px;
    margin: 8px 8px 0px 8px;
    position: relative;
}

.playlist-navbar {
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: rgb(18 18 18);
    z-index: 10;
    filter: drop-shadow(0px 2px 3px black);
}

.suggestion-box {
    margin: 10px;
    padding: 5px;
}

.btn {
    font-size: 15px;
    padding: 9px 13px;
    margin: 5px;
    border-radius: 20px;
    outline: 0;
    border: 0;
    background-color: rgb(60, 60, 60);
    color: white;
}

.playlist-btn {
    width: 90px;
}

.btn:hover {
    background-color: rgb(68, 68, 68);
}

.playlist-box {
    margin: 20px 0px;
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

.playlist-box div {
    position: relative;
    align-content: center;
    background-color: rgb(68, 68, 68);
    height: 50px;
    width: 245px;
    padding: 10px;
    border-radius: 5px;
    align-content: center;
    justify-content: space-between;
}

.playlist-box h4 {
    color: white;
    font-weight: 600;
}

.playlist-box .play-icon {
    color: black;
    background-color: rgb(76, 202, 76);
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 50%;
    font-size: 14px;
    padding: 7px;
    opacity: 0;
    transition: all 0.2s ease;
}

.playlist-box div:hover .play-icon {
    opacity: 1;
}

.spotify-playlist {
    flex-direction: column;
    padding: 5px;
    justify-content: center;
    margin: 10px;
}

.spotify-playlist h2 {
    margin: 10px 0px;
    padding: 5px 0px 10px 0px;
    justify-content: space-between;
}

.spotify-playlist a:nth-child(2) {
    font-size: 14px;
}

.spotify-playlist a:hover {
    text-decoration: underline;
}

.card-container {
    margin-left: 5px;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}

.cards {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.cards:hover {
    background-color: rgb(42, 42, 42);
}

.cards i:first-child {
    position: absolute;
    top: 0.5em;
    left: 1.6em;
    font-size: 10px;
    z-index: 1;
}

.cards img {
    display: block;
    margin: 0 auto;
    height: 68.19%;
    width: 88.24%;
    border-radius: 5px;
}

.cards h4,
.cards p {
    margin: 5px 5px 0 5px;
}

.cards p {
    font-size: 0.875em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.cards .play-icon {
    position: absolute;
    bottom: 4em;
    right: 1em;
    color: black;
    background-color: rgb(76, 202, 76);
    border-radius: 50%;
    padding: 15px;
    filter: drop-shadow(2px 4px 6px black);
    opacity: 0;
    transition: all 0.2s ease;
}

.cards:hover .play-icon {
    bottom: 4.3em;
    right: 1em;
    opacity: 1;
}

.play-icon:hover {
    background-color: rgb(107, 242, 107);
    transform: scale(1.01);
    transform-origin: center;
}

/* *****************Play-container****************** */

.footer {
    background-color: black;
    position: relative;
    z-index: 10;
    padding: 13px;
    justify-content: space-between;
}

.playing-info {
    margin-right: 60px;
    border-radius: 10px;
    font-size: 14px;
    width: 19.135vw;
}

.playing-info img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.playing-info h4,
.playing-info p {
    margin: 0 10px;
}

.playbar-container {
    margin: 0 5px;
    padding: 0 5px;
    width: 36vw;
}

.playbar-container button {
    background: none;
    outline: 0;
    border: 0;
}

.playbar-container i {
    padding: 0 5px;
    margin: 0 5px;
    color: rgb(101, 101, 101);
}

.playbar .play-btn,
.playbar .pause-btn {
    color: white;
    font-size: 30px;
}

.playbar-container button:hover i {
    color: white;
}

.playbar-container span {
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.playbar-container .bar {
    position: relative;
    width: 80%;
    height: 4px;
    background: rgb(101, 101, 101);
    margin: 0 15px 0 10px;
    border-radius: 5px;
}

.playbar-container .bar .bar2 {
    position: absolute;
    background: white;
    border-radius: 5px;
    width: 0%;
    height: 100%;
    /* transition: 0.5s linear; */
}

.playbar-container .bar:hover .bar2 {
    background: rgb(107, 242, 107);
}

.playbar-container .bar:hover .dot {
    opacity: 1;
}

.playbar-container .bar input {
    width: 100%;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
    /* transition: 0.5s linear; */
}

.dot {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    /* transition: 0.5s linear; */
}

.playbar-container .bar .dot {
    position: absolute;
    left: 0%;
}

/**songs-menu**/

.songs-menu {
    width: 16.96vw;
}

.songs-menu .vol {
    position: relative;
    width: 100px;
    height: 4px;
    background: rgb(101, 101, 101);
    cursor: default;
    border-radius: 5px;
    margin: 0 7px;
}

.songs-menu .vol .vol-bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 5px;
}

.songs-menu .vol input {
    width: 100%;
    z-index: 100;
    opacity: 0;
    cursor: pointer;
}

.songs-menu .vol .dot {
    position: absolute;
    left: 95%;
}

.songs-menu .vol:hover .vol-bar,
.songs-menu .vol-btn:hover~.vol .vol-bar {
    background: rgb(107, 242, 107);
}

.songs-menu .vol:hover .dot,
.songs-menu .vol-btn:hover~.vol .dot {
    opacity: 1;
}

.songs-menu i {
    font-weight: 600;
    font-size: 15px;
    color: rgb(101, 101, 101);
    margin: 0 3px;
}

.songs-menu button {
    background: none;
    border: 0;
    outline: 0;
}

.songs-menu div {
    cursor: pointer;
}

.songs-menu button:hover i {
    color: white;
}


/*.bar {
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    -webkit-appearance: none;
    width: 400px;
    height: 5px;
    background: #353535;
}

#vol-bar {
    width: 100px;
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
} */


/* .songs-menu .vol-bar {
    height: 4px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
    margin: 0 5px;
} */

/* ****************Dynamic page***************** */

.dynamic-container {
    width: 100%;
    position: absolute;
    top: 0;
}

.dynamic-container .navbar {
    z-index: 10;
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgb(30, 30, 30);
    justify-content: space-between;
}

.dynamic-container .navbar img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.dynamic-container .navbar h4 {
    font-size: 24px;
    margin: 0 10px;
    font-weight: 800;
}

.dynamic-container .play-icon {
    margin: 15px;
    color: black;
    font-size: 20px;
    padding: 20px;
    background-color: rgb(107, 242, 107);
    border-radius: 50%;
}

.navbar .play-icon {
    font-size: 1em;
    padding: 1em;
}

.song-container {
    height: 60vh;
    overflow-y: auto;
    /* margin: 10px;
    padding: 5px; */
}

.song-container li {
    justify-content: space-between;
    margin: 6px 0;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.song-container li:hover {
    background-color: #353535;
}

.song-container li h4,
.song-container li div {
    font-size: 14px;
}

.song-container li p {
    font-size: 10px;
}

.song-container .tracker {
    height: 30px;
    width: 30px;
}

.song-container button {
    background: none;
    color: white;
    outline: 0;
    border: 0;
}

.song-container button:hover {
    transform: scale(1);
}

.song-container img {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    margin: 0 5px;
}

/* Paused */
.paused {
    position: relative;
    font-size: 14px;
}

.paused::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    visibility: hidden;
}

.songItem:hover .paused {
    visibility: hidden;
}

.songItem:hover .paused::before {
    content: '\f04b';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    visibility: visible;
    color: white;
}

/* Playing */
.played {
    position: relative;
    font-size: 14px;
}

.played::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    visibility: hidden;
}

.songItem:hover .played {
    visibility: hidden;
}

.songItem:hover .played::before {
    content: '\f04c';
    /* Pause icon */
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    visibility: visible;
    color: white;
}